.main {   
    &__inscription-item {
        
        &:hover {
            color: #F0145A;
        }
    }

    &__button { 
        &:hover {
            border: 2px solid #F0145A;
        }

        a {
            &:hover {
                color: #F0145A;
            }
        }
    }

    &__services-button {
        display: inline-block;
        
        p {
            &:hover {
                color: #F0145A;
            }
        }
    }

    &__wrap-title {
        &:hover {
            color: #F0145A;
        }
    }
}