.main {   
    &__main-menu-item a {
        transition: all 1s;

        &:hover {
            transition: all 0.3s;
            color: #F0145A;
            border-bottom: 2px solid #F0145A;
        }

    }

    &__inscription-item {
        transition: all 1s;

        &:hover {
            transition: all 0.3s;
            color: #F0145A;
        }
    }

    &__button { 
        transition: all 1s;

        &:hover {
            transition: all 0.3s;
            border: 2px solid #F0145A;
        }

        a {
            transition: all 1s;

            &:hover {
                transition: all 0.3s;
                color: #F0145A;
            }
        }
    }

    &__services-button {
        display: inline-block;
        
        p {
            transition: all 1s;

            &:hover {
                transition: all 0.3s;
                color: #F0145A;
            }
        }
    }

    &__wrap-title {
        transition: all 1s;

        &:hover {
            transition: all 0.3s;
            color: #F0145A;
        }
    }
}

.team {
    &__button {
        transition: all 1s; 

        &:hover p {
            transition: all 0.3s;
            color: #F0145A;
        }
    }
}

.wraps {
    &__publications-button {
        transition: all 1s;

        &:hover {
            transition: all 0.3s;
            color: #F0145A;
        }
    }

    &__title {
        transition: all 1s;

        &:hover {
            transition: all 0.3s;
            color: #F0145A;
        }
    }
}

.contact {
    &__email {
        transition: all 0.2s;
    }

    &__email:hover {
        color: #F0145A;
        transition: all 0.2s;
    }
}

