* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;
}

.content {
    margin: 0 auto;
    max-width: $dt-hd;
    // background: $dt-bg;
}

body {
    font-family: 'Montserrat', "sans-serif";
}

.main {
    height: 2266px;
    background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
    border-radius: 0px 0px 12px 12px;

    .content {
        height: 100%;
        background: url("../images/h.svg") center top no-repeat;
    }

    &__header {
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        display: flex;
        width: 108px;
        height: 50px;
        margin-top: 50px;

        img {
            max-width: 100%;
            height: auto;
        }
    }

    &__menu {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }

    &__info-menu {
        display: flex;
        height: 25px;
        margin-bottom: 6px;
    }

    &__language-switcher,
    &__address,
    &__cell {
        align-items: center;
        margin-right: 6px;

        &:after {
            content: '';
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background: #E6E6F0;
            margin-left: 6px;
        }
    }

    &__language-switcher {
        display: flex;

        a {
            font-size: 12px;
            font-weight: 700;
            line-height: 15px;
            letter-spacing: 1px;
            color: white;
            display: flex;
            text-decoration: none;
            align-items: center;
            justify-content: center;
            padding: 5px 7px;
            border-radius: 8px;
            transition-property: background;
            transition-duration: 0.2s;

            // &:not(:last-child) {
            //     margin-right: 14px;
            // }

            &.active {
                background: #F0145A;
                cursor: default;
                pointer-events: none;
            }

            &:hover:not(.active) {
                background: grey;
            }
        }
    }

    &__address {
        display: flex;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        color: white;
    }

    &__cell {
        display: flex;

        a {
            font-size: 16px;
            font-weight: 700;
            line-height: 20px;
            color: white;
            text-decoration: none;
        }
    }

    &__fb {
        display: flex;
        width: 24px;
        height: 24px;
    }

    &__main-menu {
        display: flex;
        list-style: none;
        justify-content: flex-end;

        a {
            font-size: 16px;
            font-weight: 700;
            line-height: 20px;
            color: white;
            text-decoration: none;
            margin-left: 15px;
        }
    }

    &__main-menu-item {}



    &__title {
        h1 {
            text-align: center;
            font-size: 38px;
            font-weight: 700;
            line-height: 46px;
            color: white;
            margin: 366px auto 0;
        }

        button {
            display: none;
        }
    }


}



// block {
//     @media desktop {
//         card {
//             width: calc((100% - 60px) / 3);

//             &:not(:nth-child(3n)) {
//                 margin-right: 30px;
//             }
//         }
//     }

//     @media mobile {
//         card {
//             width: calc((100% - 30px)/ 2);

//             &:nth-child(2n) {
//                 margin-left: 20px;
//             }
//         }
//     }
// }
