@import 'size';
@import 'colors.scss';
@import 'breakpoints.scss';
@media (max-width: $tab-hd) {
    .content {
        // background: indigo;
    }

    .main {
        &__inscription-wrap-tab {
            width: 50%;
        }

        &__inscription-wrap-txt {
            width: 50%;
        }
    }

    .fix {
        margin: 0 auto;
        margin-bottom: 60px;
    }

    .card {
        &__brand-hillel {
            border-radius: 0;
            padding: 36px 20px 36px 19px;
    
            img {
                width: 100%;
            }
        }

        &__wrap {
            width: 25%;
        }
    
        &__brand-biz {
            padding: 44px 28px 44px 29px;
    
            img {
                width: 100%;
            }
        }
    
        &__brand-tapgerine {
            padding: 38px 38px 38px 39px;
    
            img {
                width: 100%;
            }
        }
    
        &__brand-3d {
            border-radius: 0;
            padding: 38px 38px 38px 39px;
    
            img {
                width: 100%;
            }
        }
    
        &__brand-oranger {
            padding: 38px 41px 38px 41px;
    
            img {
                width: 100%;
            }
        }
    
        &__brand-adtelligent {
            padding: 36px 61px 36px 62px;
    
            img {
                width: 100%;
            }
        }
    
        &__brand-clickky {
            padding: 29px 59px 30px 59px;
    
            img {
                width: 100%;
            }
        }
    
        &__brand-eco {
            padding: 22px 55px 22px 55px;
    
            img {
                width: 100%;
            }
        }
    
        &__brand-infa {
            border-radius: 0;
            padding: 30px 37px 30px 37px;
    
            img {
                width: 100%;
            }
        }
    
        &__brand-sity {
            padding: 41px 37px 41px 37px;
    
            img {
                width: 100%;
            }
        }
    
        &__brand-art {
            padding: 37px 34px 37px 33px;
    
            img {
                width: 100%;
            }
        }
    
        &__brand-ultimate {
            border-radius: 0;
            padding: 13px 52px 12px 52px;
    
            img {
                width: 100%;
            }
        }
    }
}