@import 'size';
@import 'colors.scss';
@import 'breakpoints.scss';
@media (max-width: $tab-sd) {

    .content {
        padding: 0 60px;
    }

    .wrapper {
        &:nth-child(4) {
            padding-bottom: 30px;
        }
    }

    .main {
        &__menu {
            display: flex;
            flex-flow: column wrap;
        }

        &__button {
            margin-top: 369px;
        }
    
        &__logo {
            display: flex;
            margin-top: 30px;
            order: 2;
            margin-right: auto;
            margin: 0;
            position: relative;
            top: 34px;
        }

        &__info-menu {
            display: flex;
            margin-bottom: 16px;
            margin: 0;
            order: 1;
            position: relative;
            top: 50px;
        }

        &__main-menu {
            display: flex;
            height: 50px;
            order: 3;
            margin-right: auto;
            position: relative;
            top: 88px;
        }

        &__inscription {
            margin-top: 100px;
        }

        &__inscription-block {
            display: flex;
            flex-direction: column;
        }

        &__inscription-wrap-tab {
            display: flex;
            border: {
                right: none;
                bottom: 4px solid #FFFFFF4D;
            }
            width: 100%;
            padding-right: 0;
            overflow: scroll;
            height: auto;
            padding-bottom: 60px;
            margin-bottom: 60px;

            &::-webkit-scrollbar {
                display: none;
            }
        }

        &__inscription-item {
            text-align: left;
            margin-bottom: 0;
            white-space: nowrap;

            &:not(:last-child) {
                margin-right: 20px;
            }
        }

        &__inscription-item-red {
            text-align: left;
            margin-bottom: 0;
            margin-top: 0;
            margin-right: 20px;
        }

        &__inscription-wrap-txt {
            width: 100%;
            padding-left: 60px;
            align-self: center;

            h3 {
                font-size: 30px;
                font-weight: 700;
                line-height: 37px;
                letter-spacing: 0em;
                text-align: left;
                color: $color3;
                margin-bottom: 30px;
            }

            p {
                font-size: 19px;
                font-weight: 400;
                line-height: 30px;
                letter-spacing: 0em;
                text-align: left;
                color: $color3;
            }
        }


        &__wrap-item {
            width: calc((100% - 30px) / 2);

            &:nth-child(2n) {
                margin-left: 30px;
            }

            &:not(:nth-child(3n)) {
                margin-right: 0;
            }
        }
    }

    .contact {
        &__info {
            margin-left: auto;
        }

        &__info-box {
            width: unset;
        }
    }

    .card {
        &__brand-hillel {
            border-radius: 0;
        }

        &__brand-3d {
            border-radius: 0;
        }

        &__brand-infa {
            border-radius: 0;
        }

        &__brand-ultimate {
            border-radius: 0;
        }
    }

    .team {
        &__wrap {
            display: flex;
            margin-bottom: 30px;
            flex-direction: column;

            img {
                border-radius: 12px 12px 0 0;
            }
        }
    }

    .wraps {  
        justify-content: space-between;  

        &__wrap {
            width: calc((100% - 30px) / 2);

            &:not(:nth-child(3n)) {
                margin-right: 0;
            }
        }

        &__width {
            width: 100%;
        }
    }

    .contact {
        &__information{
            white-space: nowrap;
        }

        &__foot-company {
            white-space: nowrap;
        }
    }
}