.form { 
    &__button-send {
        transition: all 1s;
    }

    &__button-send:hover {
        transform: scale(1.02);
        transition: all 0.3s;
        border-radius: 12px;
        animation-timing-function: ease-in-out;
        box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
    }

    &__button-exit {

        button {
            transition: all 1s;
            &:hover {
                transition: all 0.5s;
                background-color: #E6E6F0;
                border-radius: 8px;
            }
        }
    }
}